.notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1.5rem 0;
  color: $primary-color;
  &__heading {
    font-size: 1rem;
    text-align: center;
  }
  &__note {
    font-size: 1rem;
  }
  &__details {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }
  &__period {
    font-size: 0.8rem;
    text-align: left;
    &__date {
      font-size: 1rem;
      padding-top: 0.25rem;
    }
  }
  &__message {
    padding: 1rem 2rem;
    background-color: $error-bg-color;
    color: $error-color;
    border-radius: 0.5rem;
  }
  &__category {
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
    background-color: $primary-color;
    color: $secondary-color;
    width: fit-content;
    margin: 1rem 0;
  }
  &__amount {
    display: block;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid $primary-color;
    width: 100%;
    padding-bottom: 0.25rem;
  }
}
