button {
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: $secondary-color;
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  &.outlined {
    border: 1px solid $primary-color;
    color: $primary-color;
  }
  &.contained {
    background-color: $primary-color;
  }
  &.text {
    background-color: inherit;
    color: $primary-color;
  }
  &.error {
    background-color: $error-color;
  }
  &.disabled {
    background-color: $shadow-color;
    cursor: not-allowed;
  }
}

@media screen and (max-width: $mobile-max-width) {
  button {
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
  }
}
