$primary-color: #19615f;
$secondary-color: #f5fefa;
$active-color: #174830;
$shadow-color: #80808069;
$error-color: rgb(138, 54, 49);
$warning-color: orange;
$info-color: blue;

$mobile-max-width: 480px;
