$primary-color: #207b73;
$secondary-color: #f6f6f6;
$secondary-hover-color: #e3efed;
$active-color: #174830;
$shadow-color: #80808069;
$error-color: rgb(138, 54, 49);
$warning-color: orange;
$info-color: blue;

$mobile-max-width: 480px;
