$primary-color: #19615f;
$secondary-color: #f5fefa;
$active-color: #174830;
$shadow-color: #80808069;
$error-color: rgb(138, 54, 49);
$error-bg-color: rgb(252, 217, 215);
$warning-color: orange;
$info-color: blue;
$disabled-color: #d8d1d169;

$border-color: #e0e0e0;
$mobile-max-width: 480px;
