.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1.5rem;
  box-shadow: 1px 4px 20px 1px $shadow-color;
  padding: 1rem 2rem;
  color: $primary-color;
}
.navigation__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  .navigation__item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: inherit;
  }
}
@media screen and (max-width: $mobile-max-width) {
  .header__container {
    flex-direction: column;
    padding: 1rem 0.5rem;

    nav {
      width: 100%;
      .navigation__container {
        gap: 0.5rem;
        justify-content: space-around;
        .navigation__item {
          gap: 0.3rem;
        }
      }
    }
  }
}
