.alert_dialog__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  .action__btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    button:first-child {
      padding: 0.5rem 2rem;
    }
  }
}
