.card__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 65vh;
  overflow: hidden auto;
  padding: 1rem;
  margin: 1rem 0;
}
.card__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 1rem;
  position: relative;
  color: $primary-color;
  cursor: pointer;
  border-bottom: 1px solid $shadow-color;
  &.Paid {
    opacity: 0.5;
    .card__title::after {
      content: "Paid";
      font-size: 0.5rem;
      background-color: $primary-color;
      color: $secondary-color;
      padding: 0 0.5rem;
      border-radius: 1rem;
      position: absolute;
      margin-left: 0.5rem;
      top: 0.2rem;
    }
  }
  .card__title {
    max-width: 60vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .card__amount {
      font-size: 0.8rem;
    }
    .card__date {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      font-size: 0.8rem;
    }
  }
}

.dashboard__container {
  padding: 1rem;
  width: 70%;
  min-width: 500px;
  margin: 0 auto;
}
.dashboard__actions {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: $mobile-max-width) {
  .dashboard__container {
    padding: 1rem;
    width: 100%;
    min-width: 100%;
  }
}
